.overlay{
    color: white;
    padding: 12px;
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,20);
    opacity: 0;
    transition: .5s ease;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.container .overlay:hover{
    opacity: 0.7;
    color: white;
    cursor: pointer;
}
.container{
    padding-top: 64px;
}
.example-ripple-container {
    cursor: pointer;
    text-align: center;
  
    line-height: 300px;
  
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
  }
